/* *{
    padding: 0px;
    margin: 0px;
} */
/* .paragraf{
    background-color: antiquewhite;
    padding-top: 10px;
    padding-left: 12px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding: 1,2,4;
    border-style: solid;
    border-width: 5px;
    border-color: aqua;
    border: 5px double firebrick;
    border-radius: 15px;
    margin-bottom: 50px;
}
.paragraf2{
    background-color: antiquewhite;
    padding: 10px;
    border: 5px double firebrick;
} */

/* -------------------------------------------------------------------------------- */

/* .yek{
    background-color: rgb(7, 98, 68);
    padding-bottom: 20px;
}
.do{
    background-color: rgb(181, 14, 187);
    padding-top: 20px;
    /* display: block; */
    /* display: inline-block; */
/* }*/

/* h2{
    background-color: chocolate;
    width: 200px;
    height: 200px;
    padding: 20px;
    box-sizing: border-box;
    /* display: none; */
/* } */ 

/* ___________________________________________________________________________________________ */
/* .gradient {
    background: linear-gradient(60deg, rgb(20, 200 ,200), #22ff90, yellow);
    background: radial-gradient(circle at center, rgb(56, 200, 20), #ff8d22);
    height: 400px;
    cssgradient.com

} */
 
/* ________________________________________________________________________________________ */
/* positions */
/* div {
    background: steelblue;
    padding: 10px;
    /* position: relative; */
    
/* } */

/* #first {
    background: tan;
    /* position: relative;
    top: 50px;
    left: 20px; */
    /* position: sticky;
    top: 10px;
    z-index: 1;
}

#second {
    background: sienna;
    position: relative;
}

span {
    background: silver;
    position: absolute;
    top: 10px;
    right: 10px;
}
h1 {
    background: rebeccapurple;
    width: 150px;
    position: fixed;
    bottom: 0;
    right: 0;
} */

/* ------------------------------------------------------------------------------------ */
/* .container {
    width: 300px;
    height: 400px;
    border: 2px red solid;
    position: relative;
}

#first {
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#second {
    width: 100px;
    height: 100px;
    background: rebeccapurple;
    position: absolute;
    top: 50px;
    left: 50px;
}

#third {
    width: 100px;
    height: 100px;
    background-color: black;
    position: absolute;
    top: 70px;
    left: 70px;
    z-index: 3;
} */

/* ------------------------------------------------------------------------------------- */

/* pseudo class */

/* a {
    text-decoration: none; 
    color: black;
 }
 
 #link:hover {
     color: blueviolet;
     border: 2px solid blueviolet;
     border-radius: 3px;
     background: linear-gradient(yellow , rgb(186, 8, 8));
 }
 
 p:hover {
     color: blueviolet;
     border: 2px solid blueviolet;
     border-radius: 3px;
     cursor: pointer;
 }
 p::first-line {
    color: chocolate;
 }
 p::first-letter {
    font-size: 3rem;
 } */

 /* --------------------------------------------------------------------------- */
 /* p {
    font-size: 3rem;
    text-shadow: 3px 3px 4px #afa0a0;
}

div {
    background: coral;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 5px 5px 7px #afa0a0;
} */

/* css3gen.com
cssgenerator.com */